.container {
  background-color: white;
  opacity:0.9;
  min-height: 100vh;
}

body {
  background-image: url("maxresdefault.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hidden {
  display:none;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.linethrough {
  text-decoration: line-through;
}