<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" th:href="@{reservations.css(v=${reservationscsshash})}">
  <link rel="icon" type="image/jpg" href="favicon.jpg">

  <title>Heart-Garden Reservation Admin</title>
</head>
<body>
<div class="container">
  <div class="row hidden" id="loggedInUserContainer">
    <div class="col right align-self-end">
      <img id="avatar" height="40px" src="" style="border-radius: 50%;">&nbsp;
      <small id="nickname"></small>&nbsp;
      <a href="#" id="logout"><small>Sign Out</small></a>
    </div>
  </div>
  <div class="row">
    <div class="col center">
      <h1>Reservations</h1>
      <h3><span id="date"></span> - showing <select id="nbOfDays"></select> days</h3>
    </div>
  </div>
  <div class="center hidden" id="loginContainer">
    <img src="btn_google_signin_dark_normal_web.png" id="login" class="btn">
  </div>

  <div id="mainContent" class="hidden">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Timeslots</th>
        <th scope="col">Name</th>
        <th scope="col">Guests</th>
        <th scope="col">Tables</th>
        <th scope="col">Registered</th>
        <th scope="col">Action</th>
      </tr>
      </thead>
      <tbody id="tbody">
      </tbody>
    </table>
    <div class="row">
      <div class="col" style="text-align: right">
          <button type="button" class="btn btn-info" id="prevLink">Previous page</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-info" id="nextLink">Next page</button>
      </div>
    </div>
  </div>
  <div id="spinner" class="hidden center">
    <img src="/Spinner-1s-200px.gif">
  </div>

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-auth.js"></script>
<script th:src="@{reservations.js(v=${reservationsjshash})}"></script>
</body>
</html>